@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <NavLink href="login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject] HttpClient Http { get; set; } = null!;
    [Inject] CustomAuthenticationStateProvider AuthProvider { get; set; } = null!;

    private async Task Logout()
    {
        await Http.GetAsync("/api/auth/logout");
        AuthProvider.NotifyUserLogout();
        Navigation.NavigateTo("/");
    }
}
